:root {
  line-height: 25px;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  --bg-color: #fff;
  --main-text-color: DarkSlateGray;
  --secondary-text-color: GhostWhite;
  --accent-color: dodgerblue;
  --poke-red: #D93F3F;
}

@font-face {
  font-family: Pokemon Hollow;
  src: url(./assets/Pokemon-Hollow.ttf);
}

@font-face {
  font-family: Pokemon Solid;
  src: url(./assets/Pokemon-Solid.ttf);
}

body {

  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: Pokemon Hollow;
  background-image: url(./assets/dark-wall.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  color: var(--bg-color);
  letter-spacing: 3px;
}

/* ************** NAME ************** */
.container-name {
  display: grid;
  place-items: center;
}

.pokedex-name {
  width: 400px;
  margin-top: 100px;
}

/* ************ Pokemones ************** */
.container-maximus {
  max-width: 1100px;
  height: 100vh;
  /* border: 2px solid crimson; */
  display: grid;
  place-items: center;
}

.search-container {
  width: 500px;
  padding: 15px;
}

.search-choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 43px;
  border: 0;
  background-color: var(--bg-color);
  border-color: transparent;
  box-shadow: var(--shadow);
}

button {
  width: 100px;
  height: 45px;
  border-color: transparent;
  background-color: var(--poke-red);
  box-shadow: var(--shadow);
  color: var(--bg-color);
}

.select {
  width: 200px;
  height: 45px;
  margin-left: 15px;
  border-color: transparent;
  box-shadow: var(--shadow);
  text-align: center;
}

.pokedex {
  width: 400px;
  margin: 30px 0;
}

.search-container {
  width: 45%;
  margin: 15px;
}

.card-container {
  max-width: 1200px;
  display: flex;
  /* border: 2px solid purple; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}
@media screen and (max-width: 1000px) {
  .card-container{
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
.card {
  perspective: 1000px;
  width: 260px;
  height: 380px;
  position: relative;
  margin: 5px;
}

/* ************** CARD FRONT ************** */
.card-front {
  /* background-color: #5f5f; */
  width: 260px;
  height: 380px;
  display: flex;
  border: 0.1px outset rgba(255, 255, 255, 0.1);
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: var(--shadow);
}

.front-image {
  margin-top: 25px;
  width: 245px;
  height: 245px;
  /* border: 2px solid purple; */
  filter: drop-shadow(2px 2px 2px rgba(255, 254, 254, 0.5));
}

.front-name {
  bottom: 2%;
  font-size: 2.3em;
  letter-spacing: 4px;
  margin: 5px 0p;
  color: var(--bg-color);
  /* filter: drop-shadow(2px 2px 5px rgba(230, 207, 2, 0.5)); */
}

/* ************** CARD BACK ************** */
.card-back {
  width: 260px;
  height: 380px;
  border: 0.1px outset rgba(255, 255, 255, 0.1);
}

.back-type {
  width: 260px;
  height: 35%;
  display: flex;
  justify-content: center;
}

.back-image {
  margin: 5px 0 20px 0;
  width: 150px;
  height: 150px;
  /* border: 1px solid purple; */
}

.back-info {
  width: 260px;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 254, 254, 0.9);
}

.back-name {
  margin: 5px 0;
  text-align: center;
  font-family: Pokemon Solid;
  font-size: 1.6em;
  /* border: 1px solid purple; */
}

.back-type {
  font-size: 1.1em;
  margin-top: 0px;
  /* border: 1px solid purple; */
}

.back-info-container {
  display: grid;
  place-content: center;
  /* border: 1px solid purple; */
  grid-template-columns: repeat(2, 1fr);
}

.center-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.back-center-line {
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
}

.back-center-white {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.back-center {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

h4 {
  text-align: center;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  line-height: 20px;
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.1));
}

/* ************** CARD TURN ************** */
.card .card-front {
  position: absolute;
  transform: rotateY(0deg);
  backface-visibility: visible;
  transition: transform 0.4s linear;
}

.card .card-back {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.4s ease-in;
}

.card:hover .card-back {
  transform: rotateY(0deg);
  cursor: pointer;
}

.card:hover .card-front {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.4s linear;
  cursor: pointer;
}

/* a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  width: min-content;
  height: min-content;
  border: 2px solid purple;
}*/

a:-webkit-any-link {
  color: black;
}

/* ************** FULL CARD ************** */
.poke-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /* border: 1px solid greenyellow */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.prop-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid crimson; */
}

.prop-image-container {
  /* border: 1px solid crimson; */
}

.prop-name-title {
  font-family: Pokemon Solid;
  text-align: center;
  color: black;
  filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.7));
}

.prop-H-W {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* 
  border: 1px solid crimson; */
}

h3 {
  letter-spacing: 3px;
  margin: 7px;
}

.prop-stats-rectangle {
  margin: 5px;
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 2px 10px 4px 10px;
  background: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  text-align: center;
}

.prop-abilities {
  display: flex;
}

.prop-image {
  width: 300px;
  height: 300px;
  margin-top: 25%;
  filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 0.7));
}

.prop-name-container {
  padding: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid crimson; */
}

.prop-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prop-stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.prop-stats-container h4 {
  font-family: Pokemon Hollow;
  font-size: 1em;
}

.prop-stas-circle {
  width: 70px;
  height: 70px;
  border: 2px solid rgba(255, 254, 254, 0.7);
  border-radius: 50%;
  /* background-color: red; */
  margin: 1.2em;
  margin-top: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* ****************** MOVES ****************** */
.prop-moves {
  margin: 20px;
  width: 60%;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.moves {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  flex-wrap: wrap;
  justify-items: center;
  margin: 5px;

}

.only-move {
  width: max-content;
  border: 1px solid black;
  margin: 4px 4px;
  padding: 2px 6px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .prop-title {
    grid-template-columns: repeat(1, 1fr);
  }

  .moves {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (max-width: 750px) {
  .prop-stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .prop-image-container {
    display: flex;
    justify-content: center;
  }

  .prop-image {
    width: 200px;
    height: 200px;
  }

  .moves {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark),
(prefers-color-scheme: no-preference) {

  /* con esta sentencia digo que la siguiente config se usa cuando el modo DARK este habilitado en el dispositivo y cuando no haya preferencia */
  body:not(.force-light) {
    line-height: 25px;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    --bg-color: #fff;
    --main-text-color: DarkSlateGray;
    --secondary-text-color: GhostWhite;
    --accent-color: dodgerblue;
    --poke-red: #D93F3F;
  }


  body.force-dark {
    line-height: 25px;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    --bg-color: #fff;
    --main-text-color: DarkSlateGray;
    --secondary-text-color: GhostWhite;
    --accent-color: dodgerblue;
    --poke-red: #D93F3F;
  }
}